certifi
chardet
gTTS
gTTS-token
idna
PyAudio
pytz
requests
speechRecognition
urllib3
beautifulsoup4
pyttsx3
webbrowser
smtplib
google
word2number
wikipedia
time
json
datetime
ctime